<div class="alert alert-success">
<h4>Congratulations !!   It may take a few minutes for your hostname to be available.  In the meantime, please ensure the following steps are completed</h4>
</div>

<br/><br/>

<div class="lead" > CNAME your new cache domain <strong><em><%= @hostname.name %></strong></em> to <strong><em><%= @hostname.cname %></strong></em></div><br/>
<div class="lead">Check the status of your hostname by visiting <%= link_to 'your hostnames overview page' , hostnames_url %> </div>

