		      		
		<a class="<%= report_nav_button('daily',params[:report_type]) %>" href="<%= report_nav_link('daily',params[:report_type]) %>">Daily Report</a>
		<a class="<%= report_nav_button('monthly',params[:report_type]) %>" href="<%= report_nav_link('monthly',params[:report_type]) %>">Monthly Report</a>
	